<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quality.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quality.description %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @quality.icon %>
</p>

<p>
  <strong>Color:</strong>
  <%= @quality.color %>
</p>

<%= link_to 'Edit', edit_quality_path(@quality) %> |
<%= link_to 'Back', qualities_path %>
